# Core functionality - changes here should be rare!
/src/app.py                   @ozgurturkiye
/src/backend/database.py      @ozgurturkiye
/src/backend/routers/auth.py  @ozgurturkiye

# The frontend will need refactored soon to be more object oriented.
/src/static/   @ozgurturkiye
